/* CSS Document */
body{
width:100%;
max-width:800px;	
margin:auto;
padding-left:150px;
padding-right:150px;
 background-color: #F0F8FF;
}

#menu{
left:30px;
height:auto;
width:auto;
position:fixed;	
background-color:lightblue;

}
ul{
	list-style: none;
	padding-left: 10px;
	padding-right:10px
}

h1{ 
padding:10px 10px 10px 10px;
width:auto;
height:auto;
color:white;
background-color: black;

}
.ponggame{
 
position:relative;		
margin:auto;

background-color:black;
height:300px;
width:700px;

}
.barleft{
	
	width: 10px;
    height: 100px;
    position: absolute;
    left: 10px;
    top: 10px;
	background-color:white;
	
}
.block {
   
    width: 10px;
    height: 100px;
    position: absolute;
    left: 10px;
    top: 10px;
	background-color:white;
}
.barright{
	
	width:10px;
	height:100px;
	
	position: absolute;
	right:20px;
	background-color:white;
	
}


.centerline{
	position:absolute;
	width:5px;
	right:50%;
	left:50%;
	height:inherit;
	background-color:white;
}
.ball{
	
	width:10px;
	height:10px;
	
	position: absolute;
	left:350px;
	top:150px;
	background-color:white;
	
	
}

