#navi {
  background-color: skyblue;
  float: top;
  height: 20px;
  padding: 5px 0px 5px 5px;
}

body {
  width: 800px;
  margin: auto;
  background-color: #F0F8FF;
}

table {
  border: 1;
  font-size: 18px
}

.textlinen {
  background-color: #FAF0E6;
}

p {
  font-size: 18px;
}

input[type=text]:hover {
  box-sizing: content-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
}

.button{
	
background-color: red;

}
