#navi {
  float: top;
  background-color: skyblue;
  padding-top: 5px;
  padding-bottom:5px;
  padding-left:5px;
  margin: auto;
  width: 795px;
}

body {
  padding-top:10px;
  width: 800px;
  margin: auto;
  background-color: #F0F8FF;
}

table {
  border: 1;
  font-size: 18px
}

.textlinen {
  background-color: #FAF0E6;
}

p {
  font-size: 18px;
}

input[type=text]:hover {
  box-sizing: content-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
  background-color:lightgrey;
}

.button{

}

.button2{
	
}
#menu{}

.nachricht{

}

.boxblue{
	content:normal;
	width:300px;
	margin:auto;
	height:1000px;
	background-color:lightblue;
	
}

.topheight{
	height:10px;	
}

div.fixedtop {
	position: fixed;
    top: 0;    
}

div.fixedbottom {
    position: fixed;
	padding-left: 3px;
	padding-right: 3px;
	bottom: 0px;
    left: 0px;
    width: auto;
    border: 3px;
	background-color:grey;
}



@media (max-width: 1500px){
}
/** CSS Game*/
.gamecanvas{
	margin:auto;
	height:200px;
	width:500px;
	background-color:green;	

}

.block{
	position: relative;
	height:10px;
	width:10px;
	background-color:blue;
}
.highScoreText{}