body {
  padding-top:10px;
  width: 100%;
  max-width:800px;
  margin: auto;
  background-color: #F0F8FF;
}
 
#navi {
  float: top;
  background-color: skyblue;
  padding-top: 5px;
  padding-bottom:5px;
  padding-left:5px;
  margin: auto;
  width: 795px;
   
}
 
a:hover{color:red;}

table {
  border: 1;
  font-size: 18px
}

.textlinen {
  background-color: #FAF0E6;
}

p {
  font-size: 18px;
}

input[type=text]:hover {
  box-sizing: content-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
  background-color:lightgrey;
}



.boxblue{
	content:normal;
	max-width:300px;
	width:50%;
	margin:auto;
	height:1000px;
	background-color:lightblue;
	
}

.topheight{
	height:10px;	
}

div.fixedtopnav {
	position:fixed;
    top: 0;    
}
div.fixedbottomnav {
	position: fixed;
    bottom: 0;    
}

div.fixedbottom {
    position: fixed;
	padding-left: 3px;
	padding-right: 3px;
	bottom: 0px;
    left: 0px;
    width: auto;
    border: 3px;
	background-color:grey;
}

.left{
	position:absolute;
	width:100px;
	left:-100px;
	background-color:#F0F8FF;
	height:200px;
}
.right{
	position:absolute;
	width:200px;
	right:-200px;
	background-color:#F0F8FF;
	height:200px;
}


@media (max-width: 1500px){
}
/** CSS Game*/
.gamecanvas{
	
	height:200px; 
	width:500px;
	position: relative;
	margin:auto;
	 	
	
}
.touchMobile{
	height: 100px;
    margin: 0;
    padding: 0;
	 
	}

.block{
	position: absolute;
	bottom: 0px;
	height:47px;
	width:44px;
	left:15px;
	background-color:blue;
	 
}
 

.containerText{
	height:20px;
	width:700px;
	position: relative;
	 
}
.scoreText{
	position: absolute;
	left:490px;
	height:20px;
	width:100px;
	 
}
.highScoreText{
	position: absolute;
	left:560px;
	height:20px;
	width:200px;
	
}
.blockcactus0{
	position: absolute;
	bottom:0px;
	right:-50px;
	height:47px;
	width:44px;
	background-color:green;
	 
	
	}
.blockcactus1{
	position: absolute;
	bottom:0px;
	right:-50px;
	height:47px;
	width:44px;
	background-color:green;
	 
	 
	
	}
.blockcactus2{
	position: absolute;
	bottom:0px;
	right:-50px;
	height:47px;
	width:44px;
	background-color:green;
	 
	 
	
	}
	.VarValue{ 
		position: absolute;
		left: 0;
		right: 0;
		top: 50%;
		margin-left: auto;
 		margin-right: auto;
		max-width: 50%;
		background-color:white;
		
		
		}
	
	.explode{
	 position: absolute;
	 bottom:0px;
	 left:15px;
	 width:10px;
	 height:10px;
	 /*background-color:grey;*/
	}
	 